h2 {
  font-size: 20px;
}

h3{
  position: absolute;
  top: 10px;
  left: 805px;
}

p{
  position: absolute;
  top: 520px;
}
#typefilter{
  width: 100%;
}

#alll{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  
}

#verbimagem{
  float: left;
  top: 10px;
  left: 300px;
  z-index: 2;
  padding: 2px;
  border: solid aliceblue;

}

.Quem-sou{
  
}

.Quem-sou-conteudo{
position: absolute;
float: left;
left: 10%;
top: 15%;
}

.habilidades-conteudo{
position: relative;
float: left;
left: 3%;
top: 15%;
}

.empresas-conteudo{
position: relative;
float: left;
left: 1.9%;
top: 15%;

}

.certificados-conteudo{
  position: relative;
  float: left;
  left: 5%;
  top: 15%;
}

/* Caso queira colocar em full screen na altura adicionamos o bottom: 0; */
.conteudo{
 
  position: absolute;
  top: 0;
  width: 100%;
}

/* Classe teste para alteracao sub-menu*/
.quem-sou li{
  
}

.img{
  float: right;
  position: absolute;
  left: 100px;

}


#quemsou{
  width: 100%;
  height: 100%;
  float: right;
  top: 520px;
}

.dropdown-menu h1{

}

.dp-menu ul ul {
  display: none;
  left: 0;
  float: left;

}

.dp-menu ul li:hover ul {
  display: block;

}
/*Tamanho do sub-menu dentro de produtos*/
.dp-menu ul ul {
  width: 800px;
  float: left;
}

.dp-menu ul ul li a {
  display: block;
}
/* REMOVE O SUBLINHADO DAS TAGs 'a' E MUDA AS CORES DOS TEXTOS PARA BRANCO*/
a{
  text-decoration: none;
  color: white;
}

/* 
Id linkedin criado para redirecionar para a pagina do usuario do linkedin.
color:inherit remove o azul do texto e o text-decoration: none remove o sublinhado do texto. */
#linkedin{
  text-decoration: none;
  color: inherit;
}

#certificados{
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}